[submodule "figlet-fonts"]
	path = font-submodules/figlet-fonts
	url = https://github.com/xero/figlet-fonts
[submodule "FIGfonts"]
	path = font-submodules/FIGfonts
	url = https://github.com/PhMajerus/FIGfonts
	sparse-checkout = fonts
