[submodule "figlet-fonts"]
	path = figlet-fonts
	url = https://github.com/xero/figlet-fonts
[submodule "FIGfonts"]
	path = FIGfonts
	url = https://github.com/PhMajerus/FIGfonts
	shallow = true
	sparse-checkout = fonts
